<ng-template #productPopup></ng-template>

<header>
    <div class="header">
        <div class="header__logo">
            <a [routerLink]="[ env.language ]"><span>School</span>Food</a>
        </div>
        <nav class="header__menu">
            <ul>
                <li *ngFor="let category of categories" [ngClass]="{'header_submenu': category.categories.length > 0}">
                    <a [routerLink]="[ env.language, category.slug ]">{{category.name}}</a>
                    <ul *ngIf="category.categories.length > 0">
                        <li *ngFor="let subcategory of category.categories"><a [routerLink]="[ env.language, category.slug, subcategory.slug ]">{{subcategory.name}}</a></li>
                    </ul>
                </li>
            </ul>
            <a class="header__order__delete"></a>
        </nav>
        <div class="header__bar">
            <div class="header__bar__basket mask__el">
                <a [routerLink]="[ '/' + env.language, 'cart' ]">
                    <img src="assets/images/icons/basket.svg" alt="Basket">
                </a>
                <span>{{cartDish.length}}</span>
                <div class="header__bar__order hide__el">
                    <ul>
                        <li *ngFor="let dish of cartDish">
                            <div class="header__order_container">
                                <a (click)="deleteOrderedDish(dish.id)" class="header__order__delete"></a>
                                <div class="header__order__img">
                                    <img [src]="env.address + dish.image" alt="Order">
                                </div>
                                <div class="header__order__title">
                                    <a [routerLink]="[ '/' + env.language, dish.dishUrlSections[0], dish.dishUrlSections[1] != null ? dish.dishUrlSections[1] : 'dish', dish.dishUrlSections[2] ]">{{dish.name}}</a>
                                    <span>Кількість: {{dish.quantity}}</span>
                                </div>
                            </div>
                        </li>
                        <div class="header__order__buttons">
                            <a [routerLink]="[ '/' + env.language, 'cart' ]">Корзина</a>
                            <a (click)="confirmOrder()">Замовити</a>
                        </div>
                    </ul>
                </div>
            </div>
            <div>
                <img src="assets/images/icons/locked.svg" alt="Login">
            </div>
            <div class="header__lang mask__el">
                <span>{{env.language}}</span>
                <ul class="header__langs hide__el">
                    <li *ngFor="let lang of languages" [ngClass]="{'active': lang.default}" (click)="onLangClick($event)">{{lang.nameAbbreviation}}</li>
                </ul>
            </div>
    
            <div class="burger__conatiner">
                <div class="burger"></div>
            </div>
        </div>
    </div>
</header>

<app-owl-carousel *ngIf="showSlider"></app-owl-carousel>

<div class="page-content">
  <div class="container">
      <router-outlet (activate)='onActivate($event)'></router-outlet>
  </div>
</div>

<footer>
  <div class="footer">
      <div class="footers__logo">
          <a href="#"><span>School</span>Food</a>
      </div>

      <div class="footer__information">
          <ul>
                <li><a [routerLink]="[ env.language, 'blog' ]">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Test</a></li>
                <li><a href="#">FAQ</a></li>
          </ul>
      </div>

      <div class="footer__contacts">
          <h2>Contact us</h2>
          <ul>
              <li>60, 29th Street, San Francisco, CA 94110, USA</li>
              <li>Phone: +380895647823</li>
              <li>Email: schoolfood@gmail.com</li>
          </ul>
      </div>
  </div>
</footer>