<div class="popup-container" [ngClass]="{'pupup-active': isShow}">
    <div class="product-popup" [ngClass]="{'pupup-active': isShow}">
        <div class="product-popup-container">
            <div class="product-popup-img">
                <lib-ngx-image-zoom
                    thumbImage="{{images.length > 0 ? env.address+images[0] : ''}}"
                    fullImage="{{images.length > 1 ? env.address+images[1] : ''}}"
                ></lib-ngx-image-zoom>
            </div>
            <div class="product-popup-text">
                <div class="popup-close" (click)="isShow = !isShow">
                    <a class="header__order__delete"></a>
                </div>
                <h2>{{ dish.name }}</h2>
                <p>
                    {{ dish.description }}
                </p>
                <div class="product-popup-quantity">
                    <span>Qty:</span>
                    <button class="product-popup-btn">&minus;</button>
                    <input type="number" name="quantity" min="0" value="0">
                    <button class="product-popup-btn">+</button>
                    <button class="btn-add-cart">Add to cart</button>
                </div>
                <div class="product-popup-footer">
                    <p *ngIf="dish.hasOwnProperty('ingredients') && dish.ingredients.length > 0">
                        <span>Інгредієнти:</span>
                        <a *ngFor="let ingredient of dish.ingredients">{{ingredient.name}}</a>
                    </p>
    
                    <p *ngIf="dish.hasOwnProperty('tags') && dish.tags.length > 0">
                        <span>Теги:</span>
                        <a *ngFor="let tag of dish.tags">{{tag.name}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>