<div class="popup-container" [ngClass]="{'pupup-active': isShow}">
    <div class="product-popup" [ngClass]="{'pupup-active': isShow}">
        <div class="product-popup-container">
            <div class="product-popup-img">
                <img src="assets/images/products/8.jpg" alt="Product">
            </div>
            <div class="product-popup-text">
                <div class="popup-close" (click)="isShow = !isShow">
                    <a class="header__order__delete"></a>
                </div>
                <h2>{{ product.title }}</h2>
                <p>
                    {{ product.description }}
                </p>
                <div class="product-popup-quantity">
                    <span>Qty:</span>
                    <button class="product-popup-btn">&minus;</button>
                    <input type="number" name="quantity" min="0" value="0">
                    <button class="product-popup-btn">+</button>
                    <button class="btn-add-cart">Add to cart</button>
                </div>
                <div class="product-popup-footer">
                    <p>
                        <span>Categories:</span>
                        <a href="#">Chicken Fiesta</a>,
                        <a href="#">Creamy Paneer</a>,
                        <a href="#">Golden Corn</a>,
                        <a href="#">Tandoori Paneer</a>,
                        <a href="#">Veggie Paradise</a>,
                    </p>
    
                    <p>
                        <span>Tags:</span>
                        <a href="#">Dapibus</a>,
                        <a href="#">Viverra</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>