<section class="page-section-products">
    <h2>{{title}}</h2>
    <div class="page-products-container">    
        <div *ngFor="let dish of dishes" class="page-product">
            <div class="page-product-img">
                <a [routerLink]="[ 'category', 'subcategory', 'dish' ]">
                    <img [src]="env.address + dish.image" alt="Product">
                    <app-product-buttons></app-product-buttons>
                </a>
            </div>
            <div class="page-product-description">
                <a [routerLink]="[ 'category', 'subcategory', 'dish' ]">{{dish.name}}</a>
                <p>
                    <span *ngFor="let tag of dish.tags">{{tag.name}}</span>
                </p>
            </div>
        </div>
    </div>
</section>