<app-bread-crumbs></app-bread-crumbs>

<section class="cart__page">
    <div class="cart__product__item">
        <div class="cart__product">
            <div class="cart__product__image">
                <h3>Картинка</h3>
            </div>
            <div class="cart__product__name">
                <h3>Назва</h3>
            </div>
        </div>
        <div class="cart__product__options">
            <div class="cart__product__quantity">
                <h3>Кількість</h3>
            </div>
            <div class="cart__product__delete">
                <h3>Видалити</h3>
            </div>
        </div>
    </div>

    <div *ngFor="let dish of dishes" class="cart__product__item">
        <div class="cart__product">
            <div class="cart__product__image">
                <img [src]="env.address + dish.image" alt="Image">
            </div>
            <div class="cart__product__name">
                <a [routerLink]="[ '/category', 'subcategory', 'dish' ]">{{dish.name}}</a>
            </div>
        </div>
        <div class="cart__product__options">
            <div class="cart__product__quantity">
                <div class="product-popup-quantity">
                    <button class="product-popup-btn" (click)="onDecrease(dish.id)">&minus;</button>
                    <input type="number" name="quantity" min="1" max="{{env.maxDishesQuan}}" value="{{dish.quantity}}" disabled>
                    <button class="product-popup-btn" (click)="onIncrease(dish.id)">+</button>
                </div>
            </div>
            <div class="cart__product__delete">
                <button class="btn__delete__item" (click)="deleteOrderedDish(dish.id)"> <fa-icon [icon]="faTrashAlt"></fa-icon></button>
            </div>
        </div>
    </div>

    <div class="cart__button">
        <button (click)="confirmOrder()">Замовити</button>
    </div>
</section>