<div class="bread__crumbs cart__header">
    <h1>Cart</h1>
</div>

<section class="cart__page">
    <div class="cart__product__item">
        <div class="cart__product">
            <div class="cart__product__image">
                <h3>Images</h3>
            </div>
            <div class="cart__product__name">
                <h3>Name</h3>
            </div>
        </div>
        <div class="cart__product__options">
            <div class="cart__product__quantity">
                <h3>Quantity</h3>
            </div>
            <div class="cart__product__delete">
                <h3>Delete</h3>
            </div>
        </div>
    </div>

    <div *ngFor="let item of products" class="cart__product__item">
        <div class="cart__product">
            <div class="cart__product__image">
                <img src="assets/images/products/demo1-0902240709-1-238x238.jpg" alt="Image">
            </div>
            <div class="cart__product__name">
                <a href="#">Lorem ipsum dolor sit amet.</a>
            </div>
        </div>
        <div class="cart__product__options">
            <div class="cart__product__quantity">
                <div class="product-popup-quantity">
                    <button class="product-popup-btn">&minus;</button>
                    <input type="number" name="quantity" min="0" value="0">
                    <button class="product-popup-btn">+</button>
                </div>
            </div>
            <div class="cart__product__delete">
                <button class="btn__delete__item"> <fa-icon [icon]="faTrashAlt"></fa-icon></button>
            </div>
        </div>
    </div>

    <div class="cart__button">
        <button>Confirm</button>
    </div>
</section>