<app-bread-crumbs [breadcrumbs]="breadcrumbs"></app-bread-crumbs>

<section class="page-section-products product__category__page">

    <aside class="product__filter">

        <div class="filter__container">
            <div class="filter__container__header">
                <h3>Інгредієнти</h3>
            </div>

            <div class="filte__container__body filter__by__components">
                <a *ngFor="let ingredient of ingredients" [ngClass]="{'active': ingredient.isSelect}" (click)="selectIngredient(ingredient.id)">{{ingredient.name}}</a>
            </div>
        </div>

        <!-- <div class="filter__container">
            <div class="filter__container__header">
                <h3>Filter by components</h3>
            </div>

            <div class="filte__container__body filter__by__calories">
                <div class="filter__calories">
                    <mat-slider min="1" max="100" step="1" value="0"></mat-slider>
                </div>
            </div>
        </div> -->
        
    </aside>

    <div class="product__items">
        <div class="product__items__header">
            <div class="product__items__left">
                <div class="product__items__view">
                    <fa-icon [icon]="faThLarge" [ngClass]="{'active': isGrid}" (click)="isGrid = true"></fa-icon>
                    <fa-icon [icon]="faThList" [ngClass]="{'active': !isGrid}" (click)="isGrid = false"></fa-icon>
                </div>
                <div class="product__items__quantity">
                    Показано {{dishes.length}} страв
                </div>
            </div>
            <!-- <div class="product__items__right">
                <select>
                    <option value="1" selected>Default sorting</option>
                    <option value="2">Sort by popularity</option>
                    <option value="3">Sort by average rating</option>
                    <option value="4">Sort by latest</option>
                    <option value="5">Sort by price: low to high</option>
                    <option value="6">Sort by price: high to low</option>
                </select>
            </div> -->
        </div>

        <div class="page-products-container" [ngClass]="{'page-product-list': !isGrid}">    
            <div *ngFor="let dish of dishes" class="page-product">
                <div class="page-product-img">
                    <a [routerLink]="[ '/' + env.language, dish.dishUrlSections[0], dish.dishUrlSections[1] != null ? dish.dishUrlSections[1] : 'dish', dish.dishUrlSections[2] ]">
                        <img [src]="env.address + dish.image" [alt]="dish.slug">
                        <app-product-buttons [dish]="dish"></app-product-buttons>
                    </a>
                </div>
                <div class="page-product-description">
                    <a [routerLink]="[ '/' + env.language, dish.dishUrlSections[0], dish.dishUrlSections[1] != null ? dish.dishUrlSections[1] : 'dish', dish.dishUrlSections[2] ]">{{dish.name}}</a>
                    <p class="product-category-description">{{dish.description}}</p>
                    <h4>Теги: </h4>
                    <p>
                        <span *ngFor="let tag of dish.tags">{{tag.name}}</span>
                    </p>
                </div>
            </div>

        </div>

        <div class="product__loader">
            <button (click)="loadDishes($event)"><div class="lds-facebook" [ngClass]="{'active': lock}"><div></div><div></div><div></div></div> Показати ще</button>
        </div>
    </div>
</section>