<app-bread-crumbs [breadcrumbs]="breadcrumbs"></app-bread-crumbs>

<section class="blog">
    <article *ngFor="let article of articles" class="blog__article">
        <div class="blog__article__images">
            <a [routerLink]="[ '/blog', 'article' ]">
                <img [src]="env.address + article.image" [alt]="article.slug">
            </a>
        </div>
        <div class="blog__article__context">
            <h2><a [routerLink]="[ '/' + env.language, 'blog', article.slug ]">{{article.title}}</a></h2>
            <div class="blog__article__info">
                <div class="info">
                    <fa-icon [icon]="faCalendar"></fa-icon> {{article.updateAt | date: 'MMM d, y' }}
                </div>
                <div class="info">
                    <fa-icon [icon]="faEdit"></fa-icon> {{article.authorName}}
                </div>
            </div>
            <p [innerHTML]="(article.text | slice:0:540) + '...'"></p>
            <a class="read__more" [routerLink]="[ '/' + env.language, 'blog', article.slug ]">Читати далі</a>
        </div>
    </article>

    <div class="product__loader">
        <button (click)="loadArticle()"><div class="lds-facebook" [ngClass]="{'active': lock}"><div></div><div></div><div></div></div> Показати ще</button>
    </div>
</section>