<section class="page-section-products">
    <h2>{{title}}</h2>
    <div *ngFor="let article of articles; let i = index" class="page-blog-container">
        <ng-container [ngTemplateOutlet]="i % 2 == 0 ? thenTemplate : elseTemplate" [ngTemplateOutletContext]="{items:article}"></ng-container>
        <ng-template #thenTemplate ngFor let-items="items">
            <div class="page-blog-article" *ngFor="let item of items">
                <div class="page-blog-image">
                    <img [src]="env.address + item.image" [alt]="item.slug">
                </div>
                <div class="page-blog-text">
                    <h3>{{item.title | uppercase}}</h3>
                    <p [innerHTML]="(item.text | slice:0:140) + '...'"></p>
                    <a [routerLink]="[ '/' + env.language, 'blog', item.slug ]">Читати далі</a>
                </div>
            </div>
        </ng-template>
        <ng-template #elseTemplate let-items="items">
            <div class="page-blog-article" *ngFor="let item of items">
                <div class="page-blog-text">
                    <h3>{{item.title | uppercase }}</h3>
                    <p [innerHTML]="(item.text | slice:0:140) + '...'"></p>
                    <a [routerLink]="[ '/' + env.language, 'blog', item.slug ]">Читати далі</a>
                </div>
                <div class="page-blog-image">
                    <img [src]="env.address + item.image" [alt]="item.slug">
                </div>
            </div>
        </ng-template>
    </div>
</section>