<app-bread-crumbs [breadcrumbs]="breadcrumbs"></app-bread-crumbs>

<article class="article">
    <h1>{{article.title}}</h1>
    <div class="blog__article__info">
        <div class="info">
            <fa-icon [icon]="faCalendar"></fa-icon> {{article.updateAt | date: 'MMM d, y' }}
        </div>
        <div class="info">
            <fa-icon [icon]="faEdit"></fa-icon> {{article.authorName}}
        </div>
    </div>
    <img [src]="env.address + article.image" [alt]="article.slug">
    <p [innerHTML]="article.text"></p>
</article>
