<owl-carousel #OwlCarousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
    <div class="owl-carousel-slide" *ngFor="let slide of slides">
        <img [src]="env.address + slide.image">
        <div class="owl-carousel-slide-container">
            <div class="owl-carousel-slide-content">
                <h1>{{slide.title}}</h1>
                <p>{{slide.description}}</p>
                <a *ngIf="slide.buttonName && slide.buttonLink" [href]="slide.buttonLink" target="_blank">{{slide.buttonName}}</a>
            </div>
        </div>
    </div>
</owl-carousel>