<div class="popup-container">
    <div class="product-popup">
        <div class="product-popup-container">
            <div class="product-popup-img">
                <img src="assets/images/products/8.jpg" alt="Product">
            </div>
            <div class="product-popup-text">
                <div class="popup-close">
                    <a class="header__order__delete"></a>
                </div>
                <h2>Cras Eget Augue</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.
                </p>
                <div class="product-popup-quantity">
                    <span>Qty:</span>
                    <button class="product-popup-btn">&minus;</button>
                    <input type="number" name="quantity" min="0" value="0">
                    <button class="product-popup-btn">+</button>
                    <button class="btn-add-cart">Add to cart</button>
                </div>
                <div class="product-popup-footer">
                    <p>
                        <span>Categories:</span>
                        <a href="#">Chicken Fiesta</a>,
                        <a href="#">Creamy Paneer</a>,
                        <a href="#">Golden Corn</a>,
                        <a href="#">Tandoori Paneer</a>,
                        <a href="#">Veggie Paradise</a>,
                    </p>

                    <p>
                        <span>Tags:</span>
                        <a href="#">Dapibus</a>,
                        <a href="#">Viverra</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<header>
    <div class="header">
        <div class="header__logo">
            <a href="#"><span>School</span>Food</a>
        </div>
        <nav class="header__menu">
            <ul>
                <li class="header_submenu">
                    <a href="#">Test</a>
                    <ul>
                        <li><a href="#">Subcategory</a></li>
                        <li><a href="#">Subcategory</a></li>
                        <li><a href="#">Subcategory</a></li>
                        <li><a href="#">Subcategory</a></li>
                    </ul>
                </li>
                <li class="header_submenu">
                    <a href="#">Test</a>
                    <ul>
                        <li><a href="#">Subcategory</a></li>
                        <li><a href="#">Subcategory</a></li>
                        <li><a href="#">Subcategory</a></li>
                        <li><a href="#">Subcategory</a></li>
                    </ul>
                </li>
                <li><a href="#">Test</a></li>
                <li><a href="#">Test</a></li>
                <li class="header_submenu">
                    <a href="#">Test</a>
                    <ul>
                        <li><a href="#">Subcategory</a></li>
                        <li><a href="#">Subcategory</a></li>
                        <li><a href="#">Subcategory</a></li>
                        <li><a href="#">Subcategory</a></li>
                    </ul>
                </li>
                <li><a href="#">Test</a></li>
            </ul>
            <a class="header__order__delete"></a>
        </nav>
        <div class="header__bar">
            <div class="header__bar__basket">
                <img src="assets/images/icons/basket.svg" alt="Basket">
                <span>10</span>
                <div class="header__bar__order">
                    <ul>
                        <li>
                            <div class="header__order_container">
                                <a href="#" class="header__order__delete"></a>
                                <div class="header__order__img">
                                    <img src="assets/images/demo1-0902091382-1-55x55.jpg" alt="Order">
                                </div>
                                <div class="header__order__title">
                                    <a href="#">Pizza Formaggi - thick, 25cm</a>
                                    <span>1 × $13.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="header__order_container">
                                <a href="#" class="header__order__delete"></a>
                                <div class="header__order__img">
                                    <img src="assets/images/demo1-0902091382-1-55x55.jpg" alt="Order">
                                </div>
                                <div class="header__order__title">
                                    <a href="#">Pizza Formaggi - thick, 25cm</a>
                                    <span>1 × $13.99</span>
                                </div>
                            </div>
                        </li>
                        <div class="header__order__buttons">
                            <a href="#">View cart</a>
                            <a href="#">Checkout</a>
                        </div>
                    </ul>
                </div>
            </div>
            <div>
                <img src="assets/images/icons/locked.svg" alt="Login">
            </div>
    
            <div class="burger__conatiner">
                <div class="burger"></div>
            </div>
        </div>
    </div>
</header>

<app-owl-carousel *ngIf="isMain"></app-owl-carousel>

<div class="page-content">
  <div class="container">
      <app-main-page></app-main-page>
  </div>
</div>

<footer>
  <div class="footer">
      <div class="footers__logo">
          <a href="#"><span>School</span>Food</a>
      </div>

      <div class="footer__information">
          <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Test</a></li>
              <li><a href="#">Test</a></li>
              <li><a href="#">FAQ</a></li>
          </ul>
      </div>

      <div class="footer__contacts">
          <h2>Contact us</h2>
          <ul>
              <li>60, 29th Street, San Francisco, CA 94110, USA</li>
              <li>Phone: +380895647823</li>
              <li>Email: schoolfood@gmail.com</li>
          </ul>
      </div>
  </div>
</footer>