<header>
  <div class="header">
      <div class="header__logo">
          <a href="#"><span>School</span>Food</a>
      </div>
      <nav class="header__menu">
          <ul>
              <li class="header_submenu">
                  <a href="#">Test</a>
                  <ul>
                      <li><a href="#">Subcategory</a></li>
                      <li><a href="#">Subcategory</a></li>
                      <li><a href="#">Subcategory</a></li>
                      <li><a href="#">Subcategory</a></li>
                  </ul>
              </li>
              <li class="header_submenu">
                  <a href="#">Test</a>
                  <ul>
                      <li><a href="#">Subcategory</a></li>
                      <li><a href="#">Subcategory</a></li>
                      <li><a href="#">Subcategory</a></li>
                      <li><a href="#">Subcategory</a></li>
                  </ul>
              </li>
              <li><a href="#">Test</a></li>
              <li><a href="#">Test</a></li>
              <li class="header_submenu">
                  <a href="#">Test</a>
                  <ul>
                      <li><a href="#">Subcategory</a></li>
                      <li><a href="#">Subcategory</a></li>
                      <li><a href="#">Subcategory</a></li>
                      <li><a href="#">Subcategory</a></li>
                  </ul>
              </li>
              <li><a href="#">Test</a></li>
          </ul>
          <a class="header__order__delete"></a>
      </nav>
      <div class="header__bar">
          <div class="header__bar__basket">
              <img src="assets/images/icons/basket.svg" alt="Basket">
              <span>10</span>
              <div class="header__bar__order">
                  <ul>
                      <li>
                          <div class="header__order_container">
                              <a href="#" class="header__order__delete"></a>
                              <div class="header__order__img">
                                  <img src="assets/images/demo1-0902091382-1-55x55.jpg" alt="Order">
                              </div>
                              <div class="header__order__title">
                                  <a href="#">Pizza Formaggi - thick, 25cm</a>
                                  <span>1 × $13.99</span>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="header__order_container">
                              <a href="#" class="header__order__delete"></a>
                              <div class="header__order__img">
                                  <img src="assets/images/demo1-0902091382-1-55x55.jpg" alt="Order">
                              </div>
                              <div class="header__order__title">
                                  <a href="#">Pizza Formaggi - thick, 25cm</a>
                                  <span>1 × $13.99</span>
                              </div>
                          </div>
                      </li>
                      <div class="header__order__buttons">
                          <a href="#">View cart</a>
                          <a href="#">Checkout</a>
                      </div>
                  </ul>
              </div>
          </div>
          <div>
              <img src="assets/images/icons/locked.svg" alt="Login">
          </div>

          <div class="burger__conatiner">
              <div class="burger"></div>
          </div>
      </div>
  </div>
</header>

<app-owl-carousel></app-owl-carousel>

<div class="page-content">
  <div class="container">
      
      <app-product-section></app-product-section>

      <app-product-section></app-product-section>

      <section class="page-section-products">
          <h2>From The Blog</h2>
          <div class="page-blog-container">
              <div class="page-blog-article">
                  <div class="page-blog-image">
                      <img src="assets/images/blog/bsm_product_image.jpg" alt="article">
                  </div>
                  <div class="page-blog-text">
                      <h3>THE BEST PASTA IN NEW YORK</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      <a href="#">Read more</a>
                  </div>
              </div>

              <div class="page-blog-article">
                  <div class="page-blog-image">
                      <img src="assets/images/blog/bsm_product_image.jpg" alt="article">
                  </div>
                  <div class="page-blog-text">
                      <h3>THE BEST PASTA IN NEW YORK</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      <a href="#">Read more</a>
                  </div>
              </div>

              <div class="page-blog-article">
                  <div class="page-blog-text">
                      <h3>THE BEST PASTA IN NEW YORK</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      <a href="#">Read more</a>
                  </div>
                  <div class="page-blog-image">
                      <img src="assets/images/blog/bsm_product_image.jpg" alt="article">
                  </div>
              </div>

              <div class="page-blog-article">
                  <div class="page-blog-text">
                      <h3>THE BEST PASTA IN NEW YORK</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      <a href="#">Read more</a>
                  </div>
                  <div class="page-blog-image">
                      <img src="assets/images/blog/bsm_product_image.jpg" alt="article">
                  </div>
              </div>
          </div>
      </section>
  </div>
</div>

<footer>
  <div class="footer">
      <div class="footers__logo">
          <a href="#"><span>School</span>Food</a>
      </div>

      <div class="footer__information">
          <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Test</a></li>
              <li><a href="#">Test</a></li>
              <li><a href="#">FAQ</a></li>
          </ul>
      </div>

      <div class="footer__contacts">
          <h2>Contact us</h2>
          <ul>
              <li>60, 29th Street, San Francisco, CA 94110, USA</li>
              <li>Phone: +380895647823</li>
              <li>Email: schoolfood@gmail.com</li>
          </ul>
      </div>
  </div>
</footer>