<app-product-section></app-product-section>

<app-product-section></app-product-section>

<section class="page-section-products">
    <h2>From The Blog</h2>
    <div class="page-blog-container">
        <div class="page-blog-article">
            <div class="page-blog-image">
                <img src="assets/images/blog/bsm_product_image.jpg" alt="article">
            </div>
            <div class="page-blog-text">
                <h3>THE BEST PASTA IN NEW YORK</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <a href="#">Read more</a>
            </div>
        </div>

        <div class="page-blog-article">
            <div class="page-blog-image">
                <img src="assets/images/blog/bsm_product_image.jpg" alt="article">
            </div>
            <div class="page-blog-text">
                <h3>THE BEST PASTA IN NEW YORK</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <a href="#">Read more</a>
            </div>
        </div>

        <div class="page-blog-article">
            <div class="page-blog-text">
                <h3>THE BEST PASTA IN NEW YORK</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <a href="#">Read more</a>
            </div>
            <div class="page-blog-image">
                <img src="assets/images/blog/bsm_product_image.jpg" alt="article">
            </div>
        </div>

        <div class="page-blog-article">
            <div class="page-blog-text">
                <h3>THE BEST PASTA IN NEW YORK</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <a href="#">Read more</a>
            </div>
            <div class="page-blog-image">
                <img src="assets/images/blog/bsm_product_image.jpg" alt="article">
            </div>
        </div>
    </div>
</section>