<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="overflow-x: hidden;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Головна сторінка адмін-панелі</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{orderCount}}</h3>

                <p>Всього замовлень</p>
              </div>
              <div class="icon">
                <fa-icon [icon]="faShoppingBag"></fa-icon>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{todayOrderCount}}</h3>

                <p>Замовлень сьогодні</p>
              </div>
              <div class="icon">
                <fa-icon [icon]="faShoppingBasket"></fa-icon>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{userCount}}</h3>

                <p>Кількість акаунтів</p>
              </div>
              <div class="icon">
                <fa-icon [icon]="faUserPlus"></fa-icon>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{userWithDiseasesCount}}</h3>

                <p>Користувачі із захворюваннями</p>
              </div>
              <div class="icon">
                <fa-icon [icon]="faDisease"></fa-icon>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        
        <div class="card card-default" style="overflow-y: hidden;">
          <div class="card-header">
            <h3 class="card-title">Статистика по замовленням учнів за поточний рік</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Класи</label>
                  <ng-multiselect-dropdown
                      [placeholder]="'Не вибрано'"
                      [settings]="dropdownSettings"
                      [data]="classes"
                      [(ngModel)]="selectedClass"
                      [ngModelOptions]="{standalone: true}"
                      (onSelect)="onClassSelect($event)"
                      (onSelectAll)="onClassSelectAll($event)"
                      (onDeSelect)="onClassDeSelect($event)"
                    >
                    </ng-multiselect-dropdown>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Учні</label>
                  <ng-multiselect-dropdown
                      [placeholder]="'Не вибрано'"
                      [settings]="dropdownStudentSettings"
                      [data]="students"
                      [(ngModel)]="selectedStudents"
                      [ngModelOptions]="{standalone: true}"
                      (onSelect)="onStudentSelect($event)"
                      (onSelectAll)="onStudentSelectAll($event)"
                      (onDeSelect)="onStydentDeSelect($event)"
                    >
                    </ng-multiselect-dropdown>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Тип графіку</label>
                  <select class="form-control select2" (change)="onSelect($event.target)">
                    <option *ngFor="let item of chartTypes" [ngValue]="item">{{item}}</option>
                </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <canvas baseChart
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [colors]="chartColors"
              [legend]="chartLegend"
              [chartType]="chartType"
              [plugins]="chartPlugins">
            </canvas>
            <!-- /.row -->
            <!-- <chart style="height: 400px;" [type]="type" [data]="data" [options]="options"></chart> -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->